<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700,900' rel='stylesheet' type='text/css'>
    <link href='css/app.css' rel='stylesheet' type='text/css'>
</head>
<body id="app">
    <div v-el="enterForm" class="hidden">
        <form v-on="submit: submitEnter" class="enter-form">
            <input autocomplete="off" type="text" v-model="name" placeholder="Your name">
            <input autocomplete="off" type="email" v-model="email" placeholder="Your email">
            <br><button type="submit" class="btn btn-primary">Start chatting</button>
        </form>
    </div>
    <div v-el="wrapper"  class="hidden">
        <div class="header">
            <div class="team-menu">chat</div>
            <div class="channel-menu">
                <span class="channel-menu_name">
                    <span class="channel-menu_prefix">#</span>
                    general
                </span>
            </div>
        </div>
        <div class="main">
            <div class="listings">
                <div class="listings_channels">
                    <h2 class="listings_header">Channels</h2>
                    <ul class="channel_list">
                        <li class="channel active ">
                            <a class="channel_name">
                                <span class="unread">0</span>
                                <span>
                                    <span class="prefix">#</span>
                                    general
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="listings_direct-messages">
                    <h2 class="listings_header">People</h2>
                    <ul class="channel_list">
                        <li class="channel"  v-repeat="user: users">
                            <a class="channel_name">
                                <span class="unread">0</span>
                                <span>
                                    <span class="prefix"></span>
                                    {{ user.name }}
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="message-history" id="message-box">
                <div v-repeat="message: messages">

                    <div v-if="message.msg_type == 'user'">
                        <div class="message">
                            <img v-attr="src: avatar(message.user)" class="message_profile-pic"/>
                            <a href="" class="message_username">{{ message.user.name }}</a>
                            <span class="message_timestamp">{{ formatDate(message.date) }}</span>
                            <span class="message_star"></span>
                            <span class="message_content">{{ message.content }}</span>
                        </div>
                    </div>  
                    <div v-if="message.msg_type == 'system'">
                        <div class="system-message">
                            <span class="message_content">{{ message.content }}</span> <span class="message_timestamp">{{ formatDate(message.date) }}</span>
                        </div>
                    </div>  
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="user-menu">
                <img v-attr="src: avatar(user)" class="user-menu_profile-pic"/>
                <span class="user-menu_username">{{ user.name }}</span>
                <span class="connection_status">online</span>
            </div>
            <div class="input-box">
                <form  v-on="submit: send">
                    <input type="text" class="input-box_text" v-model="message" placeholder="Write something funny {{ name }}.." autofocus="true">
                </form> 
            </div>
        </div>
    </div>
    <script src="https://cdn.socket.io/socket.io-1.3.5.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/0.12.16/vue.min.js"></script>
    <script src="http://momentjs.com/downloads/moment.min.js"></script>
    <script src="/js/md5.min.js"></script>
    <script>
        var socket = io();

        // createCookie('chat.user', null, 2);

        function createCookie(name,value,days) {
            if (days) {
                var date = new Date();
                date.setTime(date.getTime()+(days*24*60*60*1000));
                var expires = "; expires="+date.toGMTString();
            }
            else var expires = "";
            document.cookie = name+"="+value+expires+"; path=/";
        }
        function readCookie(name) {
            var nameEQ = name + "=";
            var ca = document.cookie.split(';');
            for(var i=0;i < ca.length;i++) {
                var c = ca[i];
                while (c.charAt(0)==' ') c = c.substring(1,c.length);
                if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
            }
            return null;
        }

        new Vue({
            el: '#app',
            data: {
                user: {
                    name: '',
                    email: ''
                },
                name: '',
                email: '',
                messages: [], 
                users: [],
                message: ''
            },
            ready: function() {

                var cookie = readCookie('chat.user');
                var cookieContent = JSON.parse(readCookie('chat.user'));
                if (cookieContent) {
                    
                    console.log("cookie! - enter!", cookieContent);
                    this.user = cookieContent;
                    this.enter();
                } else {
                    console.log("no cookie - show enter form");
                    this.$$.enterForm.classList.remove('hidden');
                }

                // Welcome
                socket.on('chat.welcome', function(data){
                    console.log("Welcome new user!");
                    this.messages = data.messages;
                    this.users = data.users;
                }.bind(this));

                // Updated userlist (connect/disconnect)
                socket.on('chat.users', function(users){
                    console.log("got users fro server", users);
                    this.users = users;
                }.bind(this));

                // New message
                socket.on('chat.message', function(msg){
                    console.log("received new message", msg, msg.user);
                    this.messages.push(msg);

                    // Allow Vue to render DOM after append
                    // then scroll to bottom to reveal new msg
                    this.$nextTick(function () {
                        this.scrollToBottom();  
                    }.bind(this));

                }.bind(this));
            },



            methods: {

                avatar: function(user) {
                    console.log("trying to fetch image for user:", user.name);
                    return 'https://www.gravatar.com/avatar/' + md5(user.email);
                },

                formatDate: function(date) {
                    return moment(date).fromNow();
                },

                scrollToBottom: function() {
                    var messageBox = document.getElementById("message-box");             
                    messageBox.scrollTop = messageBox.scrollHeight;
                },

                submitEnter: function(e) {
                    e.preventDefault();
                    this.user.name = this.name;
                    this.user.email = this.email;
                    createCookie('chat.user', JSON.stringify(this.user), 2);

                    this.enter();
                },

                enter: function() {

                    console.log("entering chat room..");
                    this.$$.wrapper.classList.remove('hidden');
                    this.$$.enterForm.classList.add('hidden');

                    socket.emit('chat.user', this.user);

                    this.scrollToBottom();  
                },

                send: function(e) {
                    e.preventDefault();
                    console.log("sending a message", this.message);

                    socket.emit('chat.message', {
                        content: this.message,
                        user: this.user,
                        date: new Date()
                    });

                    this.message = '';
                }
            }
        });
    </script>
</body>
</html>